{% extends "base.html" %}

{% block meta_title %}Логин{% endblock %}

{% block main %}

<div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="panel panel-default">
    <div class="panel-body">
        {% if user.is_authenticated %}
        Что такое, {{ user.username }}? Вы же уже авторизорваны. 
        {% else %}

        
        <h4>Войдите, или <a href="/register/">Зарегистрируйтесь</a></h4>
        <!-- <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
            </div>
        </div> -->
        <!-- <div class="login-or">
            <hr class="hr-or">
            <span class="span-or">или</span>
        </div> -->
        <form method="post" action="" role="form">
            {{ form.non_field_errors }}
              {{ form.username.errors }}
              <label for="inputUsernameEmail">Логин</label>
              {{ form.username }}<br>
              {{ form.password.errors }}
              <label for="inputPassword">Пароль</label>
              {{ form.password }}<br>
<!--             <div class="checkbox pull-right">
                <label>
                <input type="checkbox">
                Запомнить меня </label>
            </div> -->
            <button type="submit" class="btn btn btn-primary">
                Вход
            </button>
        </form>
        <a href="/restart_password/">Забыли пароль?</a>
        {% endif %}
        </div>
        </div>
    </div>
</div>


{% endblock %}