{% extends "base.html" %}

{% block meta_title %}Логин{% endblock %}

{% block main %}

<div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="panel panel-default">
    <div class="panel-body">
        {% if user.is_authenticated %}
        Что такое, {{ user.username }}? Вы же уже авторизорваны. 
        {% else %}
        <h1>Забыли пароль?</h1>
        <p>Введите ваш email адресс, на который будет направлено письмо с дальнейшими инструкциями по смене пароля</p>
        <form method="post" action="" role="form">
            {{ form.non_field_errors }}
              {% if errors %}
                  <ul>
                      {% for error in errors %}
                          <li style="color: red;">{{ error }}</li>
                      {% endfor %}
                  </ul>
              {% endif %}
              {{ form.email.errors }}
              <div class="form-group">
                  <input type="email" class="form-control object_radius_zero" placeholder="E-mail" id="email" name="email" required>
              </div>
            <button type="submit" class="btn btn btn-primary">
                Восстановить пароль
            </button>
        </form>
        {% endif %}
        </div>
        </div>
    </div>
</div>


{% endblock %}