{% extends "base.html" %}

{% block main %}
{% load imagekit %}
<h1 align="center"><strong>Правление Клуба</strong></h1>
{% for user in users %}
	<div class="col-md-12">
		<div class="col-md-3">
			<img src="{{ user.avatar_150.url }}" class="img-circle" width="120px">
		</div>
		<div class="col-md-8">
		<br>
			<p style="font-size: 17px">{{ user.user.first_name }} {{ user.user.last_name }} - {{ user.position }}<br>
			email - <a href="mailto:{{ user.user.username }}">{{ user.user.email }}</a><br>
			Телефон - {{ user.phone }}<br></p>
		</div>
	</div>
	<p><small>.</small></p><hr>
{% endfor %}
{% endblock %}