{% extends "base.html" %}

{% block meta_title %}{{ profile2.get_full_name }}{% endblock %}

{% block main %}
{% load urltag %}
{% load comments_tags %}
<div class="col-md-8 left">
    <div class="col-md-4">
        <center>
        <img src="{{ profile2.avatar.url }}" name="aboutme" width="200" height="200" border="0" class="object-fit_cover_radius">
        <h4 class="media-heading">{{ profile2.get_full_name }} <span class="glyphicon glyphicon-star"></span> {{ profile2.karma }}<br>
        {% if profile2.status %}
          <small>{{ profile2.status }}</small>
        {% endif %}</h4>
        {% if profile.get_status_profile == True %}
        <span><strong>Состоит в: </strong></span>
          {% if profile2.writer %}
            <span class="label label-default" >Писатель</span>
          {% endif %}
          {% if profile2.valid_member %}
            <span class="label label-primary">Действильный член</span>
          {% endif %}
          {% if profile2.moderator %}
            <span class="label label-info">Модератор</span>
          {% endif %}
          {% if profile2.goverment %}
            <span class="label label-success">Правление</span>
          {% endif %}
          {% if profile2.instructor %}
            <span class="label label-warning">Инструктор</span>
          {% endif %}
          {% if profile2.user.is_superuser %} 
            <span class="label label-danger"><span class="glyphicon glyphicon-king"></span> Администратор</span>
          {% endif %}
        {% endif %}
        </center>
        <hr>
        {% if profile == profile2 %} 
          <p align="center"><a href="/profile_edit/"><span class="glyphicon glyphicon-pencil"></span> Редактировать профиль</a></p>
          <p align="center"><a href="/password_change/"><span class="glyphicon glyphicon-pencil"></span> Изменить пароль</a></p>
        {% endif %}
        {% if user.is_authenticated %} 
          <p><strong>Email: </strong> <a href="mailto:{{ profile2.user.email }}">{{ profile2.user.email }}</a></p>
          {% if profile2.phone %}
            <p><strong>Телефон: </strong> {{ profile2.phone }}</p>
          {% endif %}
        {% endif %}
        {% if profile2.about %}
          <p><strong>О себе: </strong> {{ profile2.about }}</p>
        {% endif %}
        {% if profile == profile2 %}
          <a href="/logout/" class="btn btn-danger btn-block">Выход</a><br>
        {% endif %}
        </div>
    <div class="col-md-8">
        <div class="row">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default" style="border-color: #CFCFCF;">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                    </span> Отчеты / Паспорта</a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                {% for material in reports_enable %}
                <div class="list-group">
                  <a href="/materials/{{ material.id }}" class="list-group-item">
                    <h5 class="list-group-item-heading" align="center">
                    {{ material.type_hike.type_hike }} поход, 
                    Сложность: {{ material.difficulty }}
                    Регион: {{ material.region }}, 
                    {{ material.year }} год <span class="glyphicon glyphicon-star text-primary"></span> <strong>{{ material.rating }}</strong>
                    </h5>
                    <p class="list-group-item-text">{{ material.short_desc }}</p>
                  </a>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="panel panel-default" style="border-color: #CFCFCF;">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-book">
                    </span> Статьи / Искусство</a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
              {% for material in articles_enable %}
                <div class="list-group">
                  <a href="/materials/{{ material.id }}" class="list-group-item">
                    <h5 class="list-group-item-heading" align="center">
                    {{ material.title }} <span class="glyphicon glyphicon-star text-primary"></span> <strong>{{ material.rating }}</strong>
                    </h5>
                    <p class="list-group-item-text">{{ material.short_desc }}</p>
                  </a>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="panel panel-default" style="border-color: #CFCFCF;">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-comment">
                    </span> Комментарии</a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
              {% for comment in comments %}
                <div class="list-group">
                  <a href="{{ comment.app }}/#comment_{{ comment.id }}" class="list-group-item">
                    <h5 class="list-group-item-heading" align="center">Тема: {% url_with_comment comment.app %}</h5>
                    <p class="list-group-item-text">
                      <span class="glyphicon glyphicon-star text-primary"></span> <strong> {{ comment.rating }}</strong>; {{ comment.date_creation }} <br>{{ comment.text }}
                    </p>
                  </a>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
    </div>
    {% if profile == profile2 %} 
    {% if articles_disable %}
    <div class="col-md-8">
    <div class="row">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default" style="border-color: #CFCFCF;">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne1"><span class="glyphicon glyphicon-minus-sign">
              </span> Статьи на проверке:</a>
          </h4>
        </div>
        <div id="collapseOne1" class="panel-collapse collapse">
          {% for material in articles_disable %}
          <div class="list-group">
            <a href="/materials/{{ material.id }}" class="list-group-item">
              <h5 class="list-group-item-heading" align="center">
              {{ material.title }} <span class="glyphicon glyphicon-star text-primary"></span> <strong>{{ material.rating }}</strong>
              </h5>
              <p class="list-group-item-text">{{ material.short_desc }}</p>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
      </div>
    </div>
    </div>
    {% endif %}
    {% if reports_disable %}
    <div class="col-md-8">
    <div class="row">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default" style="border-color: #CFCFCF;">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne2"><span class="glyphicon glyphicon-minus-sign">
              </span> Отчеты на проверке:</a>
          </h4>
        </div>
        <div id="collapseOne2" class="panel-collapse collapse">
          {% for material in reports_disable %}
          <div class="list-group">
            <a href="/materials/{{ material.id }}" class="list-group-item">
              <h5 class="list-group-item-heading" align="center">
              {{ material.type_hike.type_hike }} поход, 
              Сложность: {{ material.difficulty }}
              Регион: {{ material.region }}, 
              {{ material.year }} год <span class="glyphicon glyphicon-star text-primary"></span> <strong>{{ material.rating }}</strong>
              </h5>
              <p class="list-group-item-text">{{ material.short_desc }}</p>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
      </div>
    </div>
    </div>
    {% endif %}
    {% endif %}
</div>

    {% load page_navigation %}
    {% page_navigation request %}

{% endblock %}