{% extends "base.html" %}

{% block meta_title %}Регистрация{% endblock %}

{% block main %}
{% csrf_token %}

<div class="col-md-3"></div>
<div class="col-md-6">
    <div class="panel panel-default">
    <div class="panel-body">
        {% if user.is_authenticated %}
        Что такое, {{ user.username }}? Вы же уже зарегистрированы!. 
        Впрочем, всегда можно <a href="/logout/">выйти</a>.<br/><br/>
        {% else %}
        <h3 align="center">Регистрация временно отключена</h3>

        <!-- <div class="login-or">
            <hr class="hr-or">
            <span class="span-or"></span>
        </div> -->
        <form method="post" action="" role="form">
            {{ form.non_field_errors }}
              {{ form.username.errors }}
              <label for="id_username">Логин</label>
              {{ form.username }}<br>
              {{ form.password1.errors }}
              <label for="id_password1">Пароль</label>
              {{ form.password1 }}<br>
              {{ form.password2.errors }}
              <label for="id_password2">Повторите пароль</label>
              {{ form.password2 }}<br>
              {{ form.email.errors }}
              
              <label for="email">Email</label>
              {{ form.email }}
              <br>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    {{ form.first_name.errors }}
                    <label for="id_first_name">Имя</label>
                    {{ form.first_name }}
                </div>
                <div class="col-xs-6 col-md-6">
                    {{ form.last_name.errors }}
                    <label for="id_last_name">Фамилия</label>
                    {{ form.last_name }}
                </div>
            </div>
            <br>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Зарегистрироваться</button>
        </form>
        {% endif %}
        </div>
        </div>
    </div>
</div>
{% endblock %}
