{% extends "base.html" %}

{% block meta_title %}Регистрация завершена{% endblock %}

{% block main %}

<div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="panel panel-default">
    <div class="panel-body">
        {% if user.is_authenticated %}
        Что такое, {{ user.username }}? Вы же уже авторизорваны. 
        {% else %}
        <h3 align="center">Смена пароля прошла успешно.</h3>
            <div class="alert alert-success" role="alert">
                <p class="text-justify">Теперь проверьте вашу почту, которую вы указали при регистрации. Если письма нет, проверьте папку "спам". Если письмо не пришло в течении часа, напишите в поддержку.</p>
            </div>
        {% endif %}
        </div>
        </div>
    </div>
</div>


{% endblock %}