{% extends "base.html" %}
{% load social_auth_widget %}

{% block main %}

<h1 align="center"><strong>Ближайшие походы:</strong></h1>
<form action="" method="post">
    <input name="username" />
    <input name="password" />
    <input type="submit" value="Sign in" />
    {% social_auth_widget %}
</form>

<h1>sdsdsd</h1>
<a href="{% url 'socialauth_begin' 'google' %}">Login with FB</a>
<!-- Походы -->
{% for hike in hikes %}
<div>
	<hr>
	<div class="col-md-2">
		<img src="{{ hike.user.avatar.url }}" width="80px">
	</div>

	<div class="col-md-6">
		{{ hike.user.user.first_name }} {{ hike.user.user.last_name }}<br>
		email - <a href="mailto:{{ hike.user.email }}">{{ hike.user.user.email }}</a><br>
		{% if hike.user.phone %}
			Телефон - {{ hike.user.phone }}<br>
		{% endif %}
		Сроки - {{ hike.date_start }} по {{ hike.data_finish }}<br>
	</div>
	<div class="col-md-4" align="center">
		<strong>Тип</strong> -  {{ hike.type_hike }}<br>
		<strong>Категория</strong> - {{ hike.difficulty }}<br>
		<strong>Район</strong> - {{ hike.region }}<br>
		<strong>{{ hike.state_group }}</strong><br>
		<div align="center"><a href="/hikes/{{ hike.id }}"><button type="button" class="btn btn-info btn-sm">Подробнее/Обсудить</button></a></div>
	</div>
</div>
<p>.</p>
{% endfor %}
{% endblock %}