{% extends "base.html" %}

{% block meta_title %}
    {{ page.title }}
{% endblock %}

{% block main %}
<!-- Походы -->
<div class="col-md-1">
    {% if request.user.is_superuser %}
    <a href="/factory/info_pages/infopage/{{ page.id }}/change/"><span class="label label-default">EDIT</span></a>
    {% endif %}
</div>
<div class="col-md-10 left">
	<div class="panel panel-default">
		<div class="panel-body">
    		{{ page.text|safe }}
        {% if page.if_comment %}
        <div id="disqus_thread"></div>
        <script>
          var disqus_config = function () {
            this.page.url = 'http://www.tkr.od.ua/page/{{ page.id }}';
            this.page.identifier = '{{ page.id }}'; };
          (function() {var d = document, s = d.createElement('script');
          s.src = '//tkromantic.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s); })();
        </script>
        {% endif %}
		</div>
	</div>
</div>
{% endblock %}



