*.pyc
*.pyo
*.db
db.*
.DS_Store
.coverage
/media/*
web-secret
romantic/static/admin/*
romantic/static/cked/*
romantic/static/debug_toolbar/*
.idea/*
*.sqlite3
db.sqlite3
*settings_deployment.py
*local_settings.py
*secret_key_settings.py