{% extends "base.html" %}

{% block main %}
<div class="container-fluid">
    <div class="row-fluid">  
        <div class="span1"></div>
        <div class="span5">
            <h1>Авторизация!</h1>

            {% if user.is_authenticated %}
            Что такое, {{ user.username }}? Вы же уже авторизорваны. 
            {% else %}
                {% if form.non_field_errors %}
                {{ form.non_field_errors }}
                {% endif %}

            <form method="post" action="">
            <dl class="register">   
            {% for field in form %}
                <dt>{{ field.label_tag }}</dt>
                <dd class="clearfix">{{ field }}
                {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
                {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
                </dd>
            {% endfor %}
            </dl>
            <input type="submit" value="Вход" / class="clearfix">
            </form>
        </div>
    </div>
</div>  
{% endif %}
{% endblock %}