{% extends "base.html" %}

{% block meta_title %}{{ material.title }} - Редактирование{% endblock %}

{% load page_navigation %}
{% block extra_css %}
    {% get_tokenize_template %}
<style type="text/css">
  #disclaimer, #intro {
    width: 400px;
  }
</style>
{% endblock %}

{% block main %}
<!-- Походы -->
<div class="col-md-10 col-md-offset-1">
      <div id="material">
        <form action="/material_edit/{{ material.id }}/" method="post" role="form" enctype="multipart/form-data" class="dynamic-form">{% csrf_token %}
          <div class="row">
            <div class="col-xs-6">
              <label for="id_category">Название:</label>
              {{ form.title.errors }}
              <input id="id_title" name="title" type="text" class="form-control" placeholder="Название" value="{{ form.title.value }}">
              <br>
            </div>
            <div class="col-md-4">
              <label for="id_category">Автор:</label>
              {{ form.status.errors }}
              <input id="id_status" name="status" type="text" class="form-control" placeholder="Автор" value="{{ form.status.value }}">
              <br>
            </div>
            <div class="col-xs-2">
              <label for="id_category">Год:</label>
              {{ form.year.errors }}
              <input id="id_year" name="year" type="text" pattern="[0-9]{4}" class="form-control" placeholder="Год проведения" value="{{ form.year.value }}">
              <br>
            </div>
          </div>
          <select id="id_rank" name="rank" hidden>
            <option value="{{ material.rank }}" selected="selected">DISABLE</option>
          </select>
          <select id="id_state" name="state" hidden>
            <option value="0" selected="selected">DISABLE</option>
          </select>
          <label for="id_category">Краткое описание</label>
          {{ form.short_desc.errors }}
          <textarea id="id_short_desc" name="short_desc" type="text" class="form-control">{{ form.short_desc.value }}</textarea>
          <br> {{ form.text.errors }} {{ form.media }} {{ form.text }}
          <hr style="margin-top: 1px; margin-bottom: 14px;">
          <div class="row">
            <br>
            <div class="col-xs-8">
              <p>
                <label for="id_category">Теги:</label>
                <br> {{ form.category.errors }}
                <select id="id_category" multiple="multiple" name="category" class="tokenize-sample">
                  {% for category in categorys %}
                  <option value="{{ category.id }}">{{ category.category }}</option>
                  {% endfor %} {% for category in material.category.all %}
                  <option value="{{ category.id }}" selected="selected">{{ category.category }}</option>
                  {% endfor %}
                </select>
              </p>
            </div>
            <div class="col-xs-4 col-md-4"><center>
              {{ form.avatar.errors }}
              {% if form.image.value %}
                <img src="{{ MEDIA_URL }}{{ material.image }}" name="aboutme" class="object-fit_cover_radius" width="100px" height="100px">
              {% else %}
                <img src="{{ profile.avatar.url }}" name="aboutme" class="object-fit_cover_radius" width="100px" height="100px">
              {% endif %}
              <br>
              <br>
              <input id="id_image" name="image" title="Изменить изображение" type="file" data-filename-placement="default"></center>
            </div>
            <div class="col-xs-12">
              <label>Доступные теги:</label>
              {% for category in categorys %} {{ category.category }}, {% endfor %}
            </div>
          </div>
          <hr style="margin-top: 1px; margin-bottom: 14px;">
          <p>После редактирования запись снова отправляется на проверку.</p>
          <button type="submit" class="btn btn-success">Сохранить изменения</button>
          <a href="/materials/{{ material.id }}">
            <button class="btn btn-default"> Отмена</button>
          </a>
        </form>
      </div>
</div>

{% endblock %}


{% block extra_js %}
<script src="{{ STATIC_URL }}js/bootstrap.file-input.min.js" type="text/javascript"></script>
{% get_tokenize_template_js %}
<script type="text/javascript">
    $('#id_category').tokenize();
</script>
<script type="text/javascript">
$(document).ready(function() {
    $('input[type=file]').bootstrapFileInput();
    $('.file-inputs').bootstrapFileInput();

})
</script>
{% endblock %}
