{% extends "base.html" %}

{% block meta_title %}Новая Статья{% endblock %}

{% block extra_css %}<link href="{{ STATIC_URL }}css/jquery.tokenize.css" rel="stylesheet" type="text/css">{% endblock %}

{% block main %}

<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="materials">
				<h1 align="center">{{ name_material }}</h1>
				<form action="/material_new/{{ category_material }}/" method="post" role="form" enctype="multipart/form-data" class="dynamic-form">
					<div class="row">
						<div class="col-md-10">
							<label for="id_category">Название:</label>
							{{ form.title.errors }}
						    <input id="id_title" name="title" type="text" class="form-control" placeholder="Название" value="{{ form.title.value }}"><br>
						</div>
						<div class="col-md-2">
							<label for="id_category">Год:</label>
							{{ form.year.errors }}
						    <input id="id_year" name="year" type="text" pattern="[0-9]{4}" class="form-control" placeholder="Год проведения" value="{{ form.year.value }}"><br>
						</div>
					</div>
					<select id="id_rank" name="rank" hidden>
					<option value="{{ type_material }}" selected="selected">DISABLE</option>
					</select>
					<select id="id_state" name="state" hidden>
					<option value="0" selected="selected">DISABLE</option>
					</select>
					<label for="id_category">Краткое описание</label>
					{{ form.short_desc.errors }}
					<textarea id="id_short_desc" name="short_desc" type="text" class="form-control" >{{ form.short_desc.value }}</textarea><br>
					{{ form.text.errors }}
					{{ form.media }}
					{{ form.text }}
					<hr style="margin-top: 1px; margin-bottom: 14px;">
					<div class="row"><br>
						<div class="col-md-12">
						<p><label for="id_category">Теги:</label><br> 
						{{ form.category.errors }}  
						<select id="id_category" multiple="multiple" name="category" class="tokenize-sample">
							{% for category in categorys %}
						    <option value="{{ category.id }}">{{ category.category }}</option>
						    {% endfor %}
						</select>
						</p>
						</div>
						<div class="col-md-12">
							<label>Доступные теги:</label> 
							{% for category in categorys %}
							    {{ category.category }}, 
							{% endfor %}
						</div>
					</div><br>
					<button type="submit" class="btn btn-success">Сохранить изменения</button>
					<a href="/blog/{{ blog.id }}"><button class="btn btn-default"> Отмена</button></a>
				</form>

			</div>
		</div>
	</div>
</div>


{% endblock %}

{% block extra_js %}<script src="{{ STATIC_URL }}js/jquery.tokenize.js" type="text/javascript"></script>
<script type="text/javascript">
    $('#id_category').tokenize();
</script>
{% endblock %}

