{% extends "base.html" %}

{% block meta_title %}Новый материал{% endblock %}

{% block main %}

<div class="col-md-2 left"></div>
<div class="col-md-8 left">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="materials">
				<h2 align="center">Добавить новый материал</h2>
				<p></p>
				<div class="col-md-6">
					<h4 align="center">Правила публикации материала:</h4>
					<p>В разделе действует модерация: перед публикацией все материалы проходят через заботливые руки. </p>

					<p>С большой вероятностью не пройдут модерацию:</p>

					<p>— новости и вопросы/просьбы;	</p>
					
					<p>— статьи, ранее опубликованные на других сайтах, без ссылки на первоисточник;</p>
					
					<p>— статьи без правильно расставленных знаков препинания, со смайликами, с обилием восклицательных знаков, выделением и другим бросающимся в глаза форматированием текста;</p>
										
					<p>— статьи, не имеющие ничего общего с туризмом</p>
				</div>
				<div class="col-md-6">
					<h4 align="center">Памятка автору:</h4>
					    <p>— Публикация не должна нарушать правила сайта.</p>
					    <p>— Старайтесь оформлять публикации так, чтобы их было удобно читать.</p>
					    <p>— Не вставляйте большие (&gt;1Мб) изображения в пост.</p>
				</div>
				<div class="col-md-6">
				<h5 align="center"><strong>Выберете категорию:</strong></h5>
				<a href="/material_new/article" class="btn btn-primary btn-sm btn-block">Статьи / Обзоры</a>
				<a href="/material_new/art" class="btn btn-primary btn-sm btn-block">Творчество / Арт</a>
				<a href="/material_new/passport" class="btn btn-primary btn-sm btn-block">Паспорта препятствий</a>
				<a href="/material_new/report" class="btn btn-primary btn-sm btn-block">Отчеты походов</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
