{% extends "base.html" %}

{% block meta_title %}{{ name_material }}{% endblock %}

{% block navbar_block %}
	{% if profile.writer or profile.moderator or profile.goverment or user.is_superuser %}
		<li><a href="/material_new/"><strong style="font-size:14px; color: #5cb85c"><span class="glyphicon glyphicon-pencil"></span> Добавить Материал</strong></a></li>
	{% endif %}
{% endblock %} 

{% block main %}
{% load imagekit %}
{% load urltag %}
{% load bootstrap_pagination %}
{% load comments_tags %}

<div class="panel panel-default">
<div class="panel-body">
<div class="materials">
	<div class="col-md-2">
		<!-- <button type="button" class="btn btn-sm"><a href="/"><span class="glyphicon glyphicon-chevron-left"></span> Назад</a></button> -->
	</div>
	<div class="col-md-8" align="center">
		<p style="font-size:24px;" align="center"><strong>{{ name_material }}</strong></p>
		<br>
		<!-- <h1 align="center"><strong>{{ name_material }}</strong></h1> -->
	</div>
	<div class="col-md-2"></div>
	<div class="row" align="">
		{% for dir in dirs %}
		<div class="col-sm-6 col-md-3" align="center">
			<a href="{{ dir.get_absolute_url }}">
			{% if dir.image %}
				<img src="{{ MEDIA_URL }}{{ dir.image }}" width="100">
			{% else %}
			    <img src="{{ STATIC_URL }}images/folder.png" width="100">
			{% endif %}
		    <div class="caption">
		        <div align="center">
		            <h4>{{ dir.dir_name }}</h4>
		        </div>
		    </div>
		    </a>
		</div>
		{% endfor %}
	</div>
	<div class="row" align="">
		{% for material in materials %}
		<div class="col-md-6">
            <h5><a href="{{ material.get_absolute_url }}">
                {{ material.title }}, 
            </a>rate: {{ material.rating }}, {{ material.type_hike.type_hike }}, {{ material.region }}</h5>
            <p>{{ material.status }}</p>
            <h2>
		</div>
		{% endfor %}

	</div>	
</div>
</div>
</div>
{% endblock %}