{% extends "base.html" %}

{% block meta_title %}{{ material.title }}{% endblock %}

{% block main %}
{% load urltag %}
{% load comments_tags %}


<div class="col-md-9 left">
<div class="panel panel-default">
<div class="panel-body">
<div id="material">
	<div class="row" align="">
		<div class="col-md-2">
			<p align="right"><img src="{{ material.type_hike.image.url }}" class="img-circle img-thumbnail" width="80px"></p>
		</div>
		<div class="col-md-5">
			Тип: {{ material.type_hike.type_hike }} поход, 
	        Сложность: {{ material.difficulty }}<br><hr class="hr_sm">
	        Регион: {{ material.region }}, 
	        {{ material.year }} год<br><hr class="hr_sm">
	        Руководитель - {{ material.title }}<br><hr class="hr_sm">
			Опубликовано: {{ material.date_publication|date:"d.m.Y" }}, Автор: {{ material.owner.get_full_name }}<br><br>
		</div>
		<div class="col-md-5">
		<strong>Нитка маршрута:</strong> {{ material.status|safe|truncatechars:280 }}
		
		<!-- {% if user.is_authenticated %}
		<form action="/karma_force_blog/" method="post" role="form">{% csrf_token %}
			Рейтинг:
	  		<input type="hidden" name="id_blogpost" value="{{ material.id }}" />
	  		<button type="submit" name="karma" value="minus" class="btn btn-link"><span class="glyphicon glyphicon-thumbs-down"></span></button>
	  		<span class="badge">{{ material.rating }}</span>
	  		<button type="submit" name="karma" value="plus" class="btn btn-link"><span class="glyphicon glyphicon-thumbs-up"></span></button>
	  	</form>
		{% else %}
		    Рейтинг: <span class="badge"> {{ material.rating }}</span>
		{% endif %} -->
		
		</div>
	</div>
	<div class="body">
	<hr class="hr_sm">
    {{ material.text|safe }}
    <br>
    {% if user.is_superuser %} <!-- Админка -->
		<form method="post" class="form-inline">{% csrf_token %}
			<button type="button" class="btn btn-sm">
				<a href="{% url_edit material %}"><span class="glyphicon glyphicon-cog"></span> Admin</a>
				<!-- Button trigger modal -->
			</button>
				<button class="btn btn-sm" data-toggle="modal" data-target="#myModal"><a href="/material_edit/{{ material.id }}"><span class="glyphicon glyphicon-edit"></span> Edit</a></button>
		</form>
	{% endif %}
    <hr>
		{% if material.if_comments %} <!-- Комментарии -->
			{% power_comments request material.get_absolute_url %}
		{% else %}
			Вы настолько много матерились, что мы решили отключить комментарии к этой статье.
		{% endif %}
    </div>
</div>
</div>
</div>
</div>

<div class="col-md-3 right">
    {% load page_navigation %}
    {% page_navigation request %}
</div>
{% endblock %}


