{% extends "base.html" %}

{% block meta_title %}{{ name_material }}{% endblock %}

{% block main %}
{% load imagekit %}
{% load urltag %}
{% load bootstrap_pagination %}
{% load comments_tags %}

<div class="col-md-9 left">
<div class="panel panel-default">
<div class="panel-body">
<div class="materials">
	<div class="col-md-2">
		<!-- <button type="button" class="btn btn-sm"><a href="/"><span class="glyphicon glyphicon-chevron-left"></span> Назад</a></button> -->
	</div>
	<div class="col-md-8" align="center">
		<p style="font-size:24px;" align="center"><strong>{{ name_material }}</strong></p>
		<br>
		<!-- <h1 align="center"><strong>{{ name_material }}</strong></h1> -->
	</div>
	<div class="col-md-2"></div>
	<div class="row" align="">
		{% for dir in dirs %}
		<div class="col-sm-6 col-md-3" align="center">
			<a href="{{ dir.get_absolute_url }}">
			{% if dir.image %}
				<img src="{{ MEDIA_URL }}{{ dir.image }}" width="100">
			{% else %}
			    <img src="{{ STATIC_URL }}images/folder.png" width="100">
			{% endif %}
		    <div class="caption">
		        <div align="center">
		            <h4>{{ dir.dir_name }}</h4>
		        </div>
		    </div>
		    </a>
		</div>
		{% endfor %}
	</div>
	<div class="row" align="">
		{% for material in materials %}
		<div class="col-md-6">
		<div class="panel panel-default">
  		<div class="panel-body" style="padding: 10px;">
		<a href="{{ material.get_absolute_url }}"><p align="center"><strong></strong></p></a>
			<table class="table" style="margin-bottom: 0px;">
			    <tbody>
			      <tr>
			        <td rowspan="3">
			        	<img src="{{ material.type_hike.image.url }}" class="img-circle img-thumbnail" width="70px">
			        </td>
			        <td>Тип: {{ material.type_hike.type_hike }} поход</td>
			        <td>Сложность: {{ material.difficulty }}</td>
			        <!-- <td>@mdo</td> -->
			      </tr>
			      <tr>
			        <td>Регион: {{ material.region }}</td>
			        <td>{{ material.year }} год</td>
			        <!-- <td>@TwBootstrap</td> -->
			      </tr>
			      <tr>
			        <td colspan="2">Руководитель - {{ material.title }}</td>
			        <!-- <td>Thornton</td> -->
			      </tr>
			    </tbody>
			</table>
			<p><strong>Нитка маршрута:</strong> {{ material.status|safe|truncatechars:280 }}</p>
		</div>
		</div>
		</div>
		{% endfor %}
	</div>	
</div>
</div>
</div>
</div>

<div class="col-md-3 right">
	<!-- Тег, который в зависимости от url возвращает разные шаблоны -->
	<!-- Допустим, в одном случае он возвратит кусочек мероприятий -->
	<!-- Ну а в другом вообще ничего -->
    {% load page_navigation %}
    {% page_navigation request %}
</div>

{% endblock %}


