{% load urltag %}

<div class="row hidden-print">
    <div class="col-md-12 post-header-line">
        <span class="glyphicon glyphicon-calendar"></span> Дата: {{ material.date_creation|date:"d.m.Y, G:i" }}
        | <span class="glyphicon glyphicon-user"></span> Опубликовал: <a href="{{ material.owner.get_absolute_url }}">{{ material.owner.get_full_name }}</a>
        | <span class="glyphicon glyphicon-tags"></span> Теги :
        {% for category in material.category.all %}
            {#<a href="/blog/category/{{ category.id }}"></a>#} <span class="label label-default">{{ category.category }}</span>
        {% endfor %}
    </div>
</div>