{% extends "base.html" %}

{% block meta_title %}Песочница{% endblock %}

{% block main %}
{% load imagekit %}
{% load urltag %}

<div class="col-md-9 left">
<div class="panel panel-default">
<div class="panel-body">
	<div class="col-md-12" align="center">
		<h2 class="media-heading">Песочница<br></h2>
		<h3 class="media-heading"><small>Обязательно проверяйте контент перед публикацией на сайт!</small></h3>
		<br>
	</div>
		{% for material in reports %}
		<a href="{{ material.get_absolute_url }}" class="a_black">
		<div class="col-md-6">
		<div class="panel panel-default">
  		<div class="panel-body" style="padding: 10px; height:220px">
  			<p><img src="{{ material.type_hike.image.url }}" width="70px" height="70px" hspace="10" vspace="10" align="left" class="img-circle img-thumbnail"> 
	        <strong>Тип:</strong> {{ material.type_hike.type_hike }} поход, 
	        Сложность: {{ material.difficulty }}<br>
	        <strong>Регион:</strong> {{ material.region }}, 
	        {{ material.year }} год<br>
	        <strong>Руководитель</strong> - {{ material.title }}<br><hr class="hr_sm2">
			<strong>Нитка маршрута:</strong> {{ material.status|safe|truncatechars:250 }}</p>

		</div>
		</div>
		</div>
		</a>
		{% endfor %}
	<div class="col-md-12" align="center">
		<h2 class="media-heading">Статьи</h2><br><br>
	</div>
		{% for material in articles %}
		<a href="{{ material.get_absolute_url }}" class="a_black">
		<div class="col-md-6">
		<div class="panel panel-default">
  		<div class="panel-body" style="padding: 10px; height:150px">
  			<p><img src="{{ material.owner.avatar.url }}" width="70px" height="70px" hspace="10" vspace="10" align="left" class="img-circle"> 
  			<strong>Автор:</strong> {{ material.owner.get_full_name }}<br>
  			<strong>Название:</strong> {{ material.title }}<br><hr class="hr_sm2">
  			Краткое описание - {{ material.short_desc|truncatechars:200 }}
			</p>
		</div>
		</div>
		</div>
		</a>
		{% endfor %}
</div>
</div>
</div>

<div class="col-md-3 right">
	<!-- Тег, который в зависимости от url возвращает разные шаблоны -->
	<!-- Допустим, в одном случае он возвратит кусочек мероприятий -->
	<!-- Ну а в другом вообще ничего -->
    {% load page_navigation %}
    {% page_navigation request %}
</div>

{% endblock %}


