{% extends "base.html" %}

{% block meta_title %}Добавить запись{% endblock %}

{% block main %}
{% load imagekit %}
{% load urltag %}
{% load bootstrap_pagination %}
{% load comments_tags %}

<div class="col-md-9 left">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="materials">
				<h1>Новый материал в Песочницу!</h1>
				<form action="/sandbox_new/" method="post" role="form">
				  {{ form.non_field_errors }}
				  {{ form.as_p }}
				  <button type="submit" class="btn btn-default">Опубликовать</button>
				  <a href="/blog/"><button class="btn btn-default">Отмена</button></a>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}