{% extends "base.html" %}

{% block meta_title %}Песочница{% endblock %}

{% block main %}
{% load imagekit %}
{% load urltag %}
{% load bootstrap_pagination %}
{% load comments_tags %}

<div class="panel panel-default">
<div class="panel-body">
<div class="materials">
	<div class="col-md-2">
		<!-- <button type="button" class="btn btn-sm"><a href="/"><span class="glyphicon glyphicon-chevron-left"></span> Назад</a></button> -->
	</div>
	<div class="col-md-8" align="center">
		<p style="font-size:24px;" align="center"><strong>Песочница</strong></p>
		<br>
		<!-- <h1 align="center"><strong>{{ name_material }}</strong></h1> -->
	</div>
	<div class="row" align="">
		{% for material in materials %}
		<div class="col-md-6">
            <h5><a href="{{ material.get_absolute_url }}">
                {{ material.title }}, 
            </a>rate: {{ material.rating }}, {{ material.type_hike.type_hike }}, {{ material.region }}</h5>
            <p>{{ material.status }}</p>
            <h2>
		</div>
		{% endfor %}

	</div>	
</div>
</div>
</div>
{% endblock %}