<div class="panel panel-default">
  <div class="panel-body">
  <p style="font-size:24px; color: #E22424"><strong>Будущие события:</strong></p>
<hr>
  {% for party in partys %}
    <div class="">
        <p style="font-size:18px; color:" align="center">{{ party.name }} сезона</p>
        <div style="background-image:url({{ party.image.url }}); background-size: cover;  padding-top:20px; height:180px; width:100%">
            <!-- <div align="center" style="color:#FFF; font-size:30px; background:url(/static/img/bg-text.png) repeat;">
                {{ party.name }}
            </div> -->
        </div>
        <div class="caption">
            <div align="center">
                <h4>Дата - {{ party.date_start|date:"d, F Y" }}<br>
                Время - {{ party.date_start|date:"G:i" }}</h4>
            </div>
            <p>{{ party.text|safe|truncatechars:130 }}</p>
            <div align="center">
                <a href="/party/{{ party.id }}"><button type="button" class="btn btn-info btn-sm">Подробнее/Обсудить</button></a>
            </div>
        </div>
    </div>
{% endfor %}
</div>
</div>

{% include "page_navigation/party.html" %}
