{% load comments_tags %}
{% load page_navigation %}
{% load party_tags %}

<div class="col-md-4 hidden-print" style="border-left:1px solid #ccc;">
    {% get_profile_template request %}


    <div class="col-md-12">
      <a href="/photo/competition/">Конкурс</a>
      <a href="http://www.tkr.od.ua/blog/55/" target="_blank"><img src="http://tkr.od.ua/static/images/photo2.jpg" width="100%"></a>
      <p style="foon-size:13px;" align="center"><strong> При поддержке <a href="http://www.risk.ru/" target="_blank">Risk.ru</a></strong></p>
      <a href="http://www.risk.ru/" target="_blank"><img src="http://tkr.od.ua/static/images/risk_logo.jpg" width="100%"></a>
    </div>

    {% if not request.path == "/party/" %}
    {% if partys %}
    <div class="col-md-12">
      <p style="font-size:18px; color: #000" align="center"><strong>Будущие мероприятия</strong></p>
      {% for party in partys %}
      <div class="thumbnail">
        <a href="{{ party.get_absolute_url }}/">
          <div style="background-image:url({{ party.image.url }}); background-size: cover;  padding-top:20px; height:180px; width:100%">
          </div>
        </a>
        <div align="center">
          <p style="font-size: 18px;"><strong>{{ party.title }}</strong></p>
          {% party_date_tag party %}
        </div>
        <br>
        <div align="center">
          <a href="/party/{{ party.id }}">
            <button type="button" class="btn btn-success btn-sm">Подробнее/Обсудить</button>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endif %}

    {# МАТЕРИАЛЫ #}
    <div class="col-md-12">
        <p style="font-size:18px; color: #000" align="center"><strong>Новые материалы</strong></p>
        {% for material in materials %}
        <div class="media">
          {% if material.rank == 0 %}
          <div class="media-left">
            <img src="{{ material.type_hike.image.url }}" style="border: 1px solid #dddddd;" width="53px" height="53px" class="img-circle">
          </div>
          {% else %}
          <div class="media-left">
            {% if material.image %}
              <img src="/media/{{ material.image }}"width="50px" height="50px" class="img-circle">
            {% else %}
              <img src="{{ material.owner.avatar.url }}" width="50px" height="50px" class="object-fit_cover_radius">
            {% endif %}
          </div>
          {% endif %}
          <div class="media-body">
            <a href="/{{ material.get_rank_material }}/">{{ material.get_template_material }}</a> - {{ material.date_creation|date:"d M. Y" }}
            <br>
            <a href="/materials/{{ material.id }}">
              <p> {{ material.short_desc|truncatechars:75 }} {{ material.title }}</p>
            </a>
          </div>
        </div>
        <hr class="hr_sm"> {% endfor %}
        <br>
        <p style="font-size:18px; color: #000" align="center"><strong>Что обсуждают</strong></p>
        {% for conversation in conversation %}
        <p>
          <a href="{{ conversation.get_absolute_url }}/#comments">
            <span class="badge">
              <span class="glyphicon glyphicon-comment"></span> {% count_power_comments conversation.get_absolute_url %}
            </span>
            {{ conversation.short_desc|truncatechars:60 }} {{ conversation.title }}
          </a>
        </p>
        {% endfor %}
        <hr>
    </div>

    {% get_active_users %}
    {% include "page_navigation/sponsors.html" %}

</div>