<div class="panel panel-default">
  <div class="panel-body">
    <h2 align="center">Спонсоры</h2>
        <img src="http://images.ua.prom.st/20330498_w0_h120_logotip.jpg" width="100">
        <p><strong>Телефон:</strong> +380 (95) 124-63-48</p>                    
        <p><strong>Адрес:</strong> ул. Базарная 84</p>
        <p><strong>Email:</strong> samsport@list.ru</p>
  </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <!-- VK Widget -->
        <script type="text/javascript" src="//vk.com/js/api/openapi.js?112"></script>
        <div id="vk_groups"></div>
        <script type="text/javascript">
        VK.Widgets.Group("vk_groups", {mode: 2, width: "230", height: "400"}, 1025962);
        </script>
    </div>
</div>