<div class="panel panel-default">
  <div class="panel-body">
    <p style="font-size:20px; color: #337ab7" align="center"><strong>Наши спонсоры:</strong></p>
    <p style="foon-size:13px;" align="center"><strong> Новое и б/у снаряжение и одежда для экстремальных видов спорта по доступным ценам на <a href="http://extremalka.com/">extremalka.com</a></strong></p>
        <a href="http://extremalka.com/"><img src="/static/images/extremalka.jpg" width="100%"></a><br><br>
        
        <p align="center" style="font-size:15px;"><strong></strong></p>
  </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <script type="text/javascript" src="//vk.com/js/api/openapi.js?112"></script>
        <div id="vk_groups"></div>
        <script type="text/javascript">
        VK.Widgets.Group("vk_groups", {mode: 2, width: "230", height: "450"}, 1025962);
        </script>
    </div>
</div>