{% load page_navigation %}
<div class="col-md-12">
  {% if request.user.is_authenticated %}
    {% if custom_user.moderator == True or custom_user.goverment == True or custom_user.user.is_superuser %}
      <div class="row">
        <div class="col-lg-12" align="center">
          <p>
            <button class="btn btn-default collapsed btn-block btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Администрирование
            </button>
          </p>
          <div class="collapse" id="collapseExample" aria-expanded="false" style="height: 0px;">
            {% if custom_user.user.is_superuser %}
            <a href="/factory/" class="btn btn-admin btn-block btn-sm">Админка</a>
            <a href="/factory/auth/user/?is_active__exact=0" class="btn btn-admin btn-block btn-sm">New users</a>
            <hr> {% endif %}
            <a href="/factory/force_blog/blogpost/add/" class="btn btn-success btn-block btn-sm">Добавить новость</a>
            <a href="/factory/party/party/add/" class="btn btn-success btn-block btn-sm">Добавить мероприятие</a>
            <a href="/factory/materials/material/add/" class="btn btn-success btn-block btn-sm">Добавить документацию</a>
            <a href="/sandbox/" class="btn btn-info btn-block btn-sm">Песочница</a>
          </div>
        </div>
      </div>
    {% endif %} 
  {% else %}
    <p style="font-size:18px; color: #000" align="center"><strong>Вход в профиль</strong></p>
    <form method="post" action="/login/" role="form">
      {{ form.non_field_errors }}
      <div class="form-group">
        {{ form.username.errors }}
        <input id="id_username" name="username" type="text" class="form-control" placeholder="Логин">
      </div>
      <div class="form-group">
        {{ form.password.errors }}
        <input id="id_password" name="password" class="form-control" type="password" placeholder="Пароль">
      </div>
      <button type="submit" class="btn btn btn-success btn-sm">Войдите</button>
      <a href="/register/"> или зарегистрируйтесь</a>
    </form>
    <hr>
  {% endif %}
</div>