<div class="col-md-12">
  <p style="font-size:18px; color: #000" align="center"><strong>Наши спонсоры</strong></p>
  <p style="foon-size:13px;" align="center"><strong> Магазин туристического <a href="http://fram-equip.com/uk" target="_blank">Адреналин</a></strong></p>
  <a href="http://adrenalin.od.ua" target="_blank"><img src="http://tkr.od.ua/static/images/sponsors/logo_adrenalin.png" width="100%"></a>
  <hr>
  <p style="foon-size:13px;" align="center"><strong> Зроби свій шлях легшим з <a href="http://fram-equip.com/uk" target="_blank">Fram Equipment</a></strong></p>
  <a href="http://fram-equip.com/uk" target="_blank"><img src="http://tkr.od.ua/static/images/sponsors/fram_vinil.jpg" width="100%"></a>
  <hr>
  <p style="foon-size:13px;" align="center"><strong> Новое и б/у снаряжение и одежда для экстремальных видов спорта по доступным ценам на <a href="http://extremalka.com/" target="_blank">extremalka.com</a></strong></p>
  <a href="http://extremalka.com/" target="_blank"><img src="http://tkr.od.ua/static/images/sponsors/extremalka.png" width="100%"></a>
</div>