{% extends "base.html" %}

{% block meta_title %}ZAMENA{% endblock %}

{% block main %}
<h1 align="center"><strong>О нас!</strong></h1>
Друзья!

Если вы любите природу и спорт, если вас мучает жажда приключений, если не хватает романтики и ветра в лицо, если вы хотите найти настоящих друзей и вместе с ними открыть для себя богатство нашего мира – вы точно попали по адресу. В нашем клубе вы сможете попробовать себя в таких видах туризма, как пеший, горный, водный, лыжный, вело и спелео, а потом выбрать, чему отдать предпочтение. 
Мы водим походы всех категорий сложности: начиная с самых простых в пару дней (ПВД), до больших экспедиций длительностью больше месяца.

 

		
 

В клубе у вас будет возможность заняться горным туризмом
		
пешеходным туризмом
	
водным туризмом
	
лыжным туризмом
		
спелеотуризмом
	
Благодаря походам с турклубом "Романтик" можно посетить такие районы, как Крым, Карпаты, Кавказ, Алтай, Тянь-Шань, Урал, Кольский п-ов, Карелию...
Специальное снаряжение, необходимое для походов, выдается участникам бесплатно.
Каждый вторник и четверг проводятся физические тренировки на трассе здоровья. 
Также вас ждут лекции и семинары, но не пугайтесь, это не те скучные, порой никому не нужные лекции, которые никто не любит. Наши лекции рассчитаны на подготовку людей к походам. Вы узнаете много полезного обо всем, с чем столкнетесь в походе и кое-что отработаете на семинарах. 
Проводятся технические тренировки для получения навыков работы с веревкой, отработки различных технических приемов и техники лазания по скалам. 
Помимо походов, мы организовываем и участвуем в разнообразных выездах, соревнованиях, слетах, которые направлены на повышение своей спортивной формы, а также на отдых и душевное общение.

Благодаря содействию с Федерацией спортивного туризма Украины, у нас можно получить спортивные звания, вплоть до мастера спорта (МС).
Кроме походов вас ждет множество культурных мероприятий – слеты, фестивали авторской песни, учебно-тренировочные выезды, отмечания праздников, соревнования.

	

В клубе действует студенческое правление, которое и организовывает все мероприятия, а также управляет клубом.

Список правления >>

 


Как к нам попасть?

Самый простой способ – придти в клуб. Мы ждем вас каждый вторник и четверг с 18:00 до 21:00 по адресу Шампанский переулок 11а, к 80. Там можно будет обратиться к любому человеку и он уже более детально расскажет о нашем клубе. 
Можно перед приходом позвонить по тел. 0934108615 (Маричка) или 0930798087 (Алена) и задать конкретные вопросы.


И пусть ваши паруса всегда ловят ветер дальних странствий!
{% endblock %}