{% extends "base.html" %}

{% block meta_title %}ZAMENA{% endblock %}

{% block main %}
<h1 align="center"><strong>О нас!</strong></h1>

<td width="615" valign="top">
<br>


<h1><br>
  Друзья!</h1>
<p>Если вы любите природу и спорт, если вас мучает жажда приключений, если не 
  хватает романтики и ветра в лицо, если вы хотите найти настоящих друзей и вместе 
  с ними открыть для себя богатство нашего мира – вы точно попали по адресу. В 
  нашем клубе вы сможете попробовать себя в таких видах туризма, как пеший, горный, 
  водный, лыжный, вело и спелео, а потом выбрать, чему отдать предпочтение. <br>
  Мы водим походы всех категорий сложности: начиная с самых простых в пару дней 
  (ПВД), до больших экспедиций длительностью больше месяца.</p>
<p>&nbsp; </p>
<table align="center">
  <tbody><tr> 
    <td><a rel="group" href="/images/weare_f01.jpg"><img src="/images/weare_f01s.jpg" width="300" height="200"></a></td>
    <td><img src="/images/weare_f02s.jpg" width="127" height="180"></td>
    <td><a rel="group" href="/images/weare_f03.jpg"><img src="/images/weare_f03s.jpg" width="298" height="200"></a></td>
  </tr>
</tbody></table>
<p>&nbsp;</p>
<ul>
  <li>В клубе у вас будет возможность заняться горным туризмом</li>
</ul>
<table align="center">
  <tbody><tr> 
    <td><a rel="group" href="/images/weare_f04.jpg"><img src="/images/weare_f04s.jpg" width="133" height="200"></a></td>
    <td><a rel="group" href="/images/weare_f05.jpg"><img src="/images/weare_f05s.jpg" width="301" height="200"></a></td>
    <td><a rel="group" href="/images/weare_f06.jpg"><img src="/images/weare_f06s.jpg" width="133" height="200"></a></td>
  </tr>
</tbody></table>
<ul>
  <li>пешеходным туризмом</li>
</ul>
<table align="center">
  <tbody><tr> 
    <td><a rel="group" href="/images/weare_f07.jpg"><img src="/images/weare_f07s.jpg" width="355" height="200"></a></td>
    <td><a rel="group" href="/images/weare_f08.jpg"><img src="/images/weare_f08s.jpg" width="150" height="200"></a></td>
  </tr>
</tbody></table>
<ul>
  <li>водным туризмом</li>
</ul>
<table align="center">
  <tbody><tr> 
    <td><a rel="group" href="/images/weare_f09.jpg"><img src="/images/weare_f09s.jpg" width="300" height="200"></a></td>
    <td><a rel="group" href="/images/weare_f10.jpg"><img src="/images/weare_f10s.jpg" width="267" height="200"></a></td>
  </tr>
</tbody></table>
<ul>
  <li>лыжным туризмом</li>
</ul>
<table align="center">
  <tbody><tr> 
    <td><a rel="group" href="/images/weare_f11.jpg"><img src="/images/weare_f11s.jpg" width="150" height="200"></a></td>
    <td><a rel="group" href="/images/weare_f12.jpg"><img src="/images/weare_f12s.jpg" width="267" height="200"></a></td>
    <td><a rel="group" href="/images/weare_f13.jpg"><img src="/images/weare_f13s.jpg" width="127" height="200"></a></td>
  </tr>
</tbody></table>
<ul>
  <li>спелеотуризмом</li>
</ul>
<table align="center">
  <tbody><tr> 
    <td><a rel="group" href="/images/weare_f14.jpg"><img src="/images/weare_f14s.jpg" width="267" height="200"></a></td>
    <td><a rel="group" href="/images/weare_f15.jpg"><img src="/images/weare_f15s.jpg" width="300" height="200"></a></td>
  </tr>
</tbody></table>
<p>Благодаря походам с турклубом "Романтик" можно посетить такие районы, 
  как Крым, Карпаты, Кавказ, Алтай, Тянь-Шань, Урал, Кольский п-ов, Карелию...<br>
  Специальное снаряжение, необходимое для походов, выдается участникам бесплатно.<br>
  Каждый вторник и четверг проводятся физические тренировки на трассе здоровья. 
  <br>
  Также вас ждут лекции и семинары, но не пугайтесь, это не те скучные, порой 
  никому не нужные лекции, которые никто не любит. Наши лекции рассчитаны на подготовку 
  людей к походам. Вы узнаете много полезного обо всем, с чем столкнетесь в походе 
  и кое-что отработаете на семинарах. <br>
  Проводятся технические тренировки для получения навыков работы с веревкой, отработки 
  различных технических приемов и техники лазания по скалам. <br>
  Помимо походов, мы организовываем и участвуем в разнообразных выездах, соревнованиях, 
  слетах, которые направлены на повышение своей спортивной формы, а также на отдых 
  и душевное общение.</p>
<p> Благодаря содействию с Федерацией спортивного туризма Украины, у нас можно 
  получить спортивные звания, вплоть до мастера спорта (МС).<br>
  Кроме походов вас ждет множество культурных мероприятий – слеты, фестивали 
  авторской песни, учебно-тренировочные выезды, отмечания праздников, соревнования. 
</p>
<table align="center">
  <tbody><tr> 
    <td><a rel="group" href="/images/weare_f16.jpg"><img src="/images/weare_f16s.jpg" width="301" height="200"></a></td>
    <td><a rel="group" href="/images/weare_f17.jpg"><img src="/images/weare_f17s.jpg" width="301" height="200"></a></td>
  </tr>
</tbody></table>
<br>
<!--p>Ближайшие походы &gt;&gt;</p-->
<p>В клубе действует студенческое правление, которое и организовывает все мероприятия, 
  а также управляет клубом.</p>
<p><b><a href="/forum/viewtopic.php?f=4&amp;t=333">Список правления &gt;&gt;</a></b></p>

<p>&nbsp;</p>
<p><br>
</p>
<a name="join"></a>
<h1>Как к нам попасть? </h1>
<p align="left">Самый простой способ – придти в клуб. Мы ждем вас каждый вторник 
  и четверг с 18:00 до 21:00 по адресу Шампанский переулок 11а, к 80. Там можно 
  будет обратиться к любому человеку и он уже более детально расскажет о нашем 
  клубе. <br>
  Можно перед приходом позвонить по тел. 0934108615 (Маричка) или 0930798087 (Алена) 
  и задать конкретные вопросы. </p>
<p align="center"> <a rel="group" href="/images/mapa.jpg"><img src="/images/mapas.jpg" width="600" height="305"></a><br>
</p>
<h1>И пусть ваши паруса всегда ловят ветер дальних странствий!</h1>
<p>&nbsp;</p>

<p></p>
<br><hr>
<br><br><br><br>
          </td>


{% endblock %}