<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block meta_title %}{% endblock %} | Романтик</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.png" type="image/png">

    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style2.css" rel="stylesheet">
    <!-- ИЗМЕНЕНИЕ ПАНЕЛЕЙ -->
    <style type="text/css">
      .panel-default {
      border-color: #000;
      }
      .panel {
        border-radius: 0px;
      }
    </style>
    {% block extra_css %}{% endblock %}
    {% block extra_head %}{% endblock %}
</head>
<body id="{% block body_id %}body{% endblock %}">

<div id="header">
      <ul id="header-menu" class="center-block list-inline list-inline-clear-padding link-like-text">
        <li class="menu-list">
          <div class="under-menu-shadow">
            <ul class="list-inline topmenu">
              <li><a href="/">Главная</a></li>
              <li class="hover">
                  <a href="#" >О клубе<span class="arrow"></span></a>
                  <ul class="submenu">
                    <li><a href="/history/">история</a></li>
                    <li><a href="#">гимн</a></li>
                    <li><a href="/rules/">устав</a></li>
                    <li><a href="#">Контакты</a></li>
                  </ul>
              </li>
              <li><a href="#">Галерея</a></li>
              <li><a href="/blog/">Новости</a></li>
            </ul>
          </div>
        </li><li class="logo hidden-sm hidden-xs" style="">
          <a href="/">
            <img src="{{ STATIC_URL }}images/logo.png">
            ТУРКЛУБ &laquo;РОМАНТИК&raquo;
          </a>
        </li><li class="menu-list right">
          <div class="under-menu-shadow">
            <ul class="list-inline topmenu">
              <li><a href="#">Мероприятия</a></li>
              <li class="hover">
                  <a href="#" >Библиотека<span class="arrow"></span></a>
                  <ul class="submenu">
                    <li><a href="/passport/">Паспорта препятствий</a></li>
                    <li><a href="/doc/" class="hover">МКК и документация</a></li>
                    <li><a href="/report/">Отчеты походов</a></li>
                    <li><a href="/art/">Творчество</a></li>
                    <li><a href="/article/">Статьи</a></li>
                    <li class="devider"></li>
                    <li><a href="/material_new/">Добавить материал</a></li>
                    <li><a href="/material_my/">Мои материалы</a></li>
                  </ul>
              </li>
              <li class="hover">
      {% if user.is_authenticated %}                
        <li class="hover">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span> 
                {{ user.username }}
                <span class="arrow"></span>
            </a>
            <ul class="submenu">
                <li>
                    <div class="navbar-login">
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="{{ profile.avatar.url }}" class="img-circle" width="100px">
                            </div>
                            <div class="col-lg-8">
                                <p class="text-left"><strong><a href="/profile_edit/"><span class="glyphicon glyphicon-pencil"></span></a> {{ user.get_full_name }}</strong></p>
                                <p class="text-left"><span class="glyphicon glyphicon-envelope"></span> {{ user.email }}</p>
                                {% if profile.phone %}
                                <p class="text-left"><span class="glyphicon glyphicon-phone"></span> {{ profile.phone }}</p>
                                {% endif %}
                                <p class="text-left"><span class="glyphicon glyphicon-star"></span> Карма: {{ profile.karma }}</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="divider"></li>

                <li>
                    <div class="navbar-login navbar-login-session">
                        <div class="row">
                            <div class="col-lg-12" align="center">
                                <p>
                                  {% if profile.writer %}
                                    <span class="label label-default">Писатель</span>
                                  {% endif %}
                                  {% if profile.valid_member %}
                                    <span class="label label-primary">Действильный член</span>
                                  {% endif %}
                                  {% if profile.moderator %}
                                    <span class="label label-info">Модератор</span>
                                  {% endif %}
                                  {% if profile.goverment %}
                                    <span class="label label-success">Правление</span>
                                  {% endif %}
                                  {% if profile.instructor %}
                                    <span class="label label-warning">Инструктор</span>
                                  {% endif %}
                                  {% if user.is_superuser %} 
                                    <span class="label label-danger"><span class="glyphicon glyphicon-tower"></span> Администратор</span>
                                  {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="divider"></li>
                <li>
                    <div class="navbar-login navbar-login-session">
                        <div class="row">
                            <div class="col-lg-12" align="center">
                                <p>
                                    <a href="/profile/{{ profile.id }}" class="btn btn-info btn-block ">Профиль</a>

                                    <a href="/logout/" class="btn btn-danger btn-block">Выход</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
      {% else %}                
        <li class="hover">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">Вход <b class="caret"></b></a>
           <ul class="submenu" style="padding: 15px;min-width: 330px;">
              <div class="main">
        <h4>Войдите, или <a href="/register/">Зарегистрируйтесь</a></h4>
        <!-- <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <a href="/login/facebook" class="btn btn-lg btn-primary btn-block">Facebook</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <a href="/login/vk-oauth2" class="btn btn-lg btn-info btn-block">VK</a>
            </div>
        </div> -->
        <!-- <div class="login-or">
            <hr class="hr-or">
            <span class="span-or">или</span>
        </div> -->
        <form method="post" action="/login/" role="form">
            {{ form.non_field_errors }}
            <div class="form-group">
                {{ form.username.errors }}
              <label for="inputUsernameEmail">Логин</label>
              <input id="id_username" name="username" type="text" class="form-control" placeholder="username">
              <!-- {{ form.username }} -->
            </div>
            <div class="form-group">
              {{ form.password.errors }}
              <label for="inputPassword">Пароль</label>
              <input id="id_password" name="password" class="form-control" type="password" placeholder="***********">
              <!-- {{ form.password }} -->
            </div>
            <div class="checkbox pull-right">
                <a class="pull-right" href="#">Забыли пароль?</a>
            </div>
            <button type="submit" class="btn btn btn-primary">
                Вход
            </button>
        </form>
          </div>
           </ul>
        </li>
      {% endif %}

              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>


    <div style="position: relative;">
      <div class="header-cone"></div>
      <div class="header-cone right"></div>
    </div>

    <div id="events-banner" class="fill">
      <div class="header-cone"></div>
      <div class="header-cone right"></div>
    </div>

    <br>

<div class="container">
    <div class="row">
        {% block main %}{% endblock %}
    </div>
</div>


<div id="footer">
  <div class="center-block">
    <ul class="navigation list-inline list-inline-clear-padding">
      <li>
        <a href="/">Главная</a>
      </li><li>
        <a href="/about/">О клубе</a>
        <ul class="submenu">
          <li><a href="/history/">история</a></li>
          <li><a href="#">гимн</a></li>
          <li><a href="/rules/">устав</a></li>
        </ul>
      </li><li>
        <a href="#">Галерея</a>
      </li><li>
        <a href="/blog/">Новости</a>
      </li><li>
        <a href="/party/">Мероприятия</a>
      </li><li>
        <a href="#">Библиотека</a>
        <ul class="submenu">
          <li><a href="/passport/">паспорта препятствий</a></li>
          <li><a href="/doc/">МКК и документация</a></li>
          <li><a href="/report/">отчёты походов</a></li>
          <li><a href="/art/">творчество</a></li>
          <li><a href="/article/">статьи</a></li>
        </ul>
      </li><li>
        <a href="#">Контакты</a>
      </li>
    </ul>

    <div class="bottom-bar">
      <ul class="socials list-inline pull-left">
        <li class="fb"></li>
        <li class="vk"></li>
        <li class="tw"></li>
        <li class="goo"></li>
      </ul>
      <form class="search-form form-inline pull-right">
        <div class="form-group">
          <input type="search" class="form-control" placeholder="ПОИСК">
        </div><button type="submit" class="btn btn-default"></button>
      </form>
      <div class="copy">Powered by
        <a href="http://www.djangoproject.com">Django</a>
        <span class="separator">|</span>
        by Dmitry Lyapun, <a href="mailto:dlyapun@gmail.com">dlyapun@gmail.com</a>
        <span class="separator">|</span>
        &copy; tkr.od.ua</div>
      </div>
    </div>
  </div>
</div>

<div id="goTop"></div>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.1.3.min.js"></script>
<!-- <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script> -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ajax_romantic.js"></script>

{% block extra_js %}{% endblock %}
</body>
</html>