<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.png" %}" type="image/png">

    <link href="{{ STATIC_URL }}css/bootstrap_rom.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/mezzanine.min.css" %}">
    <link rel="stylesheet" href="{% static "css/flexslider.css" %}" type="text/css" media="screen">      
    {% block extra_css %}{% endblock %}
    {% block extra_head %}{% endblock %}
    <style type="text/css">
        body{
            padding-top: 0px;
        }
        #right_banner{ 
            position: absolute;
            top: 0px;
        }
    </style>
</head>
<body id="{% block body_id %}body{% endblock %}">

<br><br><br>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    {% for banner in banner_title %}
        {% if forloop.first %}
            <div class="item active">
                <img src="{{ MEDIA_URL }}{{ banner.image }}" width="100%">
                <div class="carousel-caption"></div>
            </div>
        {% else %}
            <div class="item">
                <img src="{{ MEDIA_URL }}{{ banner.image }}" width="100%">
                <div class="carousel-caption"></div>
            </div>
        {% endif %}
    {% endfor %}
  </div>

  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div id="right_banner">
    <img src="{{ MEDIA_URL }}icons/banner.png" alt="картинка" width="100%" />
</div>


<nav class="navbar navbar-default" role="navigation">
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <p class="navbar-text" style="opacity: 0;">Signed in as Mark Otto</p>
      <li><a href="/blog/"><strong>Новости</strong></a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong>О клубе</strong> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/about/">О нас</a></li>
          <li><a href="/history/">История клуба</a></li>
          <li><a href="/goverment/">Руководство</a></li>
          <li><a href="/rules/">Устав</a></li>
        </ul>
      </li>
      <li><a href="/party/"><strong>Мероприятия</strong></a></li>
      <li><a href="/hikes/"><strong>Походы</strong></a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong>Библиотека</strong> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/passport/">Паспорта препятствий</a></li>
          <li><a href="/report/">Отчеты походов</a></li>
          <li class="divider"></li>
          <li><a href="/art/">Творчество</a></li>
        </ul>
      </li>
    </ul>

    <!-- <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Link</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Библиотека <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
      <p class="navbar-text" style="opacity: 0;">Signed in as Mark Otto</p>
    </ul> -->
  </div><!-- /.navbar-collapse -->
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-9 left">
            <div class="panel panel-default">
              <div class="panel-body">
                {% block main %}{% endblock %}
              </div>
            </div>
        </div>
        <div class="col-md-3 right">
            {% load page_navigation %}
            {% page_navigation request %}
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
        <p class="site-info text-center">
            Powered by
            <a href="http://mezzanine.jupo.org">Mezzanine</a>
            and
            <a href="http://www.djangoproject.com">Django</a>
            <span class="separator">|</span>
            Theme by <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>
            <span class="separator">|</span>
            by Dmitry Lyapun, <a href="mailto:dlyapun@gmail.com">dlyapun@gmail.com</a>
        </p>
        </div>
    </div>
</footer>

<script type="text/javascript" src="{% static "js/jquery-1.8.2.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/ajax_romantic.js" %}"></script>

{% block extra_js %}{% endblock %}
</body>
</html>