<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link href="{{ STATIC_URL }}css/bootstrap1.css" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
<!-- CSS Implementing Plugins -->
<link rel="stylesheet" href="{% static "css/flexslider.css" %}" type="text/css" media="screen">      
<link rel="stylesheet" href="{% static "css/parallax-slider.css" %}" type="text/css">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% block extra_head %}{% endblock %}
<style type="text/css">
    body{
        padding-top: 0px;
    }
    #right_banner{ 
        position: absolute;
        top: 20px;
        right: 30px;
        height:350px;
    }
    #right_banner_text{
        font-size: 25px; 
        position: absolute;
        top: 40px;
        left: 50px;
        width: 40px;
        height:50px;
    }
    .background_banner{
        background-image: url({{ MEDIA_URL }}/{{ banner.image }});
        background-size: cover;
    }
    .post-meta > a {
        color: #8B8BCC;
    }
    a {
    color: #6CB9FF;
    text-decoration: none;
    }
    a:hover, a:focus {
        color: #0086FF;
        text-decoration: underline;
    }
</style>
<script type="text/javascript">
    $('.bxslider').bxSlider({
      mode: 'fade',
      captions: true
      auto: true,
    });
</script>
</head>

<body id="{% block body_id %}body{% endblock %}">

<div class="bannerSection">
    <div class="slider-inner">
    <div id="da-slider" class="da-slider background_banner">
        <div class="da-slide">
            <h2>
            <i>
                Поздравляем участников
            </i><br> 
            <i>
                Одесской Сотки!
                <div align="center">
                <button type="button" class="btn">Узнать подробнее / Обсудить</button>
                </div>
            </i>
            </h2>
            <p>
                <i>И снова завершился традиционный забег</i> <br> 
                <i>по поясу Славы, приуроченной к 60 освобождения Одессы!</i>
            </p>
            <div class="da-img">
            </div>
        </div>
        
        <div class="da-slide">
            <h2>
            <i><strong>
                Cоревнования памяти
            </strong></i><br> 
            <i><strong>
                А. Котлова, 7-8 июня,
                <div align="center">
                <button type="button" class="btn">Узнать подробнее / Обсудить</button>
                </div>
            </strong></i><br> 
            <i>
                
            </i>
            </h2>
            <p>
                <i>Соревнования для повышения техники горных групп.</i><br> 
                <i>Традиционно соревнования проводятся в трех дисциплинах: </i><br>
                <i>спас.работы, работа в связках и"скалы".</i>
            </p>
            <div class="da-img"></div>
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>        
        </nav>
    </div>
    </div>
</div>

<div id="right_banner">
        <img src="{{ MEDIA_URL }}/icons/banner2.png" alt="картинка" width="150" />
    </div>
<!--=== End Slider ===-->
</div>

<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">{% trans "Toggle Navigation" %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
        {% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>{% endif %}
    </div>
    <div class="navbar-collapse collapse">
    <form action="/search/" class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input class="form-control" placeholder="Search" type="text" name="q" value="">
        </div>  
        <div class="form-group">
            <select class="form-control" name="type">
                <option value="">Everything</option>        
                <option value="blog.BlogPost">
                    Blog posts
                </option>        
                <option value="pages.Page">
                    Pages
                </option>        
            </select>
        </div>
        <input type="submit" class="btn btn-sm" value="Go">
    </form>
        {% page_menu "pages/menus/dropdown.html" %}
    </div>
    </div>
</div>

<div class="container">
<div class="row">

<div class="col-md-7 left">
<div class="panel panel-default">
  <div class="panel-body">
    {% block main %}{% endblock %}
  </div>
</div>
</div>

<!-- FEED/RSS -->
<div class="col-md-5 right">
    {% nevercache %}
    {% include "includes/user_panel.html" %}
    {% endnevercache %}
    <div class="panel panel-default">
      <div class="panel-body">
        <h2 align="center">Календарь</h2>
        <blockquote>
          <a href="#"><p>23-24 мая - Соревновая А.Котлова</p></a>
          Традиционные соревнования которые проводятся на Куяльнике.
        </blockquote>
        <blockquote>
          <a href="#"><p>09-11 Июня - Выезд по переправам</p></a>
          выезд на котором будет отточено техника навязки переправ.
        </blockquote>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h2 align="center">Спонсоры</h2>
        <div class="col-md-6 left">
            <img src="http://images.ua.prom.st/20330498_w0_h120_logotip.jpg" width="100%">
        </div>
        <div class="col-md-6 middle">
            <p><strong>Телефон:</strong> +380 (95) 124-63-48</p>                    
            <p><strong>Адрес:</strong> ул. Базарная 84</p>
            <p><strong>Email:</strong> samsport@list.ru</p>
        </div>
      </div>
    </div>
<!--     <div class="panel panel-default">
    <div class="panel-body">
    {% block right_panel %}
    {% ifinstalled mezzanine.twitter %}
    {% include "twitter/tweets.html" %}
    {% endifinstalled %}
    {% endblock %}
    </div>
    </div> -->
</div>

</div>
</div>


<!-- ===================================== -->
<footer>
<div class="container">
<!-- FEED/RSS -->

<div class="row">
<p class="site-info text-center">
    {% trans "Powered by" %}
    <a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},
    <a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %}
    {% trans "and" %}
    <a href="http://www.djangoproject.com">Django</a>
    <span class="separator">|</span>
    {% trans "Theme by" %} <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>
    <span class="separator">|</span>
    by Dmitry Lyapun, <a href="mailto:dlyapun@gmail.com">dlyapun@gmail.com</a>
    {% ifinstalled mezzanine.mobile %}
    <span class="separator">|</span>
    <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
    {% endifinstalled %}
</p>
</div>
</div>
</footer>


{% compress js %}
<script type="text/javascript" src="{% static "js/jquery-1.8.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/modernizr.custom.js" %}"></script>   
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
<!-- JS Global Compulsory -->           
  
    
    <!-- JS Implementing Plugins -->           
<script type="text/javascript" src="{% static "js/jquery.flexslider-min.js" %}"></script>
<script type="text/javascript" src="{% static "js/modernizr.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.cslider.js" %}"></script> 
<script type="text/javascript" src="{% static "js/back-to-top.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.sticky.js" %}"></script>

<!-- JS Page Level -->           
<script type="text/javascript" src="{% static "js/app.js" %}"></script>
<script type="text/javascript" src="{% static "js/index.js" %}"></script>


<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
        Index.initParallaxSlider();
    });
</script>
{% block extra_js %}{% endblock %}
{% include "includes/footer_scripts.html" %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->
</body>
</html>