{% load comments_tags %}
<div>
	<p style="font-size: 18px;" id="href_power_comments">Комментарии:</p>
	
	{% for comment in comments %}
		<div class="row">
		{% if comment.count_inc %}
		<div class="col-md-{{ comment.count_inc }}"></div>
		{% endif %}
		<div class="col-md-9">
			<table border="0"><tr>
				<td>
					<img src="{{ comment.owner.avatar.url }}" class="img-circle" width="70px">
				</td>
				<td>
				<div class="row"></div>
					<div class="col-md-9">
						
				  		<strong><a href="{{ comment.owner.get_absolute_url }}">{{ comment.owner.get_full_name }}</a> </strong> - {{ comment.date_creation }}
				  	</div>
				  	<!-- <div class="col-md-3 right">
				  		<a id="edit_comment" href="javascript:"><span class="glyphicon glyphicon-pencil"></span></a>
				  		<span class="glyphicon glyphicon-star"></span> Рейтинг: <strong class="comment_rating-{{ comment.id }}">{{ comment.rating }}</strong>
				  	</div> -->
				  	
				  	<div class="col-md-12">
					<p align="justify">{{ comment.text }}</p>
					</div>
				</td>
			</tr></table>		
			<hr>
		</div>
<!-- 		<div class="col-md-2"><br>
			<div class="col-md-1">
			  	<form action="/ajax_karma_plus/" class="rating_form_plus" method="post" role="form" id="ajax_karma_plus">{% csrf_token %}
			  		<input type="hidden" name="id_comment" value="{{ comment.id }}" />
			  		<button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-plus"></span></button>
			  	</form>
			</div>
			<div class="col-md-4">
				<form action="/ajax_karma_minus/" class="rating_form_minus" method="post" role="form" id="ajax_karma_minus">{% csrf_token %}
			  		<input type="hidden" name="id_comment" value="{{ comment.id }}" />
			  		<button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus"></span></button>
			  	</form>
			  	{% if request.user.is_superuser %}
			  	<form action="/disable_power_comments/" method="post" role="form">{% csrf_token %}
					<input type="hidden" name="id_comment" value="{{ comment.id }}" />
					<button type="submit" name="disable" value="true" class="btn btn-link"><span class="glyphicon glyphicon-remove"></span></button>
					<a href="{% power_url_edit comment %}"><span class="glyphicon glyphicon-edit"></span></a>
				</form>
				{% endif %}
			</div>
		</div> -->
		</div>
	{% endfor %}
	<div id="power_comments"></div>

	<div class="col-md-8">
		<!-- Елемент що активує процес -->
		<!-- <a id="test_comment" href="javascript:">Натисни мене ніжно</a> -->

		<!-- <div id="target_comment">Я готовий до змін.</div> -->

		{% if request.user.is_authenticated %}
		    <form action="/new_power_comment/" class="new_power_comment" method="post" role="form">{% csrf_token %}
		    	<div id="new_comment_form" class="form-group">
					<label for="exampleInputEmail1">Новый комментарий</label>
					<input type="hidden" name="id_app" value="{{ app_url }}" /><br>
					<label id="comment_alert_dander" class="control-label" for="inputError" style="display: none;">Input with error</label>
					<textarea id="id_text_comment" mixlength="10" rows="2" name="text" class="form-control" value="{{ app_url }}"></textarea>
				</div>
		    	<div class="form-group">
					<button type="submit" class="btn btn-sm">Отправить</button>
				</div>
		    </form> 
		{% else %}
		    <p>Чтобы публиковать комментарии, <a href="/register/"> зарегистрируйтесь</a> или <a href="/login/">войдите.</a></p>
		{% endif %}
	</div>
</div>
