<div id="power_comments">
{% load comments_tags %}
<div id="comments">
	<p style="font-size: 18px;" id="href_power_comments">Комментарии:</p>
	{% for comment in comments %}
		<div id="comment_{{ comment.id }}">
		<div class="row">
		  {% count_inc_power_comments comment.count_inc %}<img src="{{ comment.owner.avatar.url }}" width="70px" hspace="10" vspace="10" align="left" class="img-circle">
		  	{% if profile.moderator or profile.goverment or user.is_superuser %}
		  		<a href="{{ comment.owner.get_absolute_url }}" id="user_full_name">{{ comment.owner.get_full_name }}</a> - {{ comment.date_creation }}
		  		<a href="{% power_url_edit comment %}"><span class="glyphicon glyphicon-edit"></span> Редактировать</a>
				<a class="responce_comment" href="#new_comment_link" id="comment-{{ comment.id }}" title="{{ comment.owner.get_full_name }}"> | 
				<span class="glyphicon glyphicon-share"></span> Ответить</a>
			{% else %}
		  		<strong><a href="{{ comment.owner.get_absolute_url }}" id="user_full_name">{{ comment.owner.get_full_name }}</a> </strong> - {{ comment.date_creation }}
			{% endif %}
			<br>
			{{ comment.text }}
		  </div>
		  <div class="col-xs-2">
		  	<span class="glyphicon glyphicon-star"></span> Рейтинг: <strong class="comment_rating-{{ comment.id }}">{{ comment.rating }}</strong><br>
			{% if request.user.is_authenticated %}
				{% if not request.user == comment.owner.user %}
				<div class="col-xs-1">
				  	<form action="/ajax_karma_plus/" class="rating_form_plus" method="post" role="form" id="ajax_karma_plus">{% csrf_token %}
				  		<input type="hidden" name="id_comment" value="{{ comment.id }}" />
				  		<button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></button>
				  	</form>
				</div>
				<div class="col-xs-4">
					<form action="/ajax_karma_minus/" class="rating_form_minus" method="post" role="form" id="ajax_karma_minus">{% csrf_token %}
				  		<input type="hidden" name="id_comment" value="{{ comment.id }}" />
				  		<button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-minus"></span></button>
				  	</form>
				</div>
				{% endif %}
			{% endif %}
		  </div>
		</div>
		</div><hr>
	{% endfor %}
</div>
</div>

<div class="col-md-8" id="new_comment_link">
{% if request.user.is_authenticated %}
	{% if 0 >= profile.karma %}
		<label id="comment_text">У вас недостаточно кармы для отправки комментариев</label>
    {% else %}
    <form action="/new_power_comment/" class="new_power_comment" method="post" role="form">{% csrf_token %}
    	<div id="new_comment_form" class="form-group">
			<label id="comment_text">Новый комментарий</label>
			<input type="hidden" name="id_app" value="{{ app_url }}" /><br>
			<input type="hidden" name="id_last_comment" id="id_last_comment" value="0" /><br>
			<label id="comment_alert_dander" class="control-label" for="inputError" style="display: none;">Input with error</label>
			<textarea id="id_text_comment" mixlength="10" rows="2" name="text" class="form-control" value="{{ app_url }}"></textarea>
		</div>
    	<div class="form-group">
    		<button type="submit" class="btn btn-sm btn-success">Отправить</button>
			{% if profile.moderator or profile.goverment or user.is_superuser %}
			<button class="btn btn-sm btn-default response_default">Новый комментарий</button>
			{% endif %}
		</div>
    </form> 
    {% endif %}
{% else %}
    <p>Чтобы публиковать комментарии, <a href="/register/"> зарегистрируйтесь</a> или <a href="/login/">войдите.</a></p>
{% endif %}
</div>