{% if if_comments %}
<div id="power_comments">
  {% load comments_tags %}
  <div id="comments">
    <p style="font-size: 18px;" id="href_power_comments">Комментарии:</p>
    {% for comment in comments %}
    <div id="comment_{{ comment.id }}">
      <div class="row">
        {% count_inc_power_comments comment.count_inc %}
        <img src="{{ comment.owner.avatar.url }}" width="70px" height="70px" hspace="10" vspace="10" align="left" class="object-fit_cover_radius">
        <strong>
        <a href="{{ comment.owner.get_absolute_url }}" id="user_full_name">
          {{ comment.owner.get_full_name }}
        </a>
        </strong> 

        {% if comment.owner.get_status_profile == True %}
            {% if comment.owner.writer %}
              <span class="label label-info" title="Писатель"><span class="glyphicon glyphicon-pencil"></span></span>
            {% endif %}
            {% if comment.owner.valid_member %}
              <span class="label label-primary" title="Действительный член"><span class="glyphicon glyphicon-user"></span></span>
            {% endif %}
            {% if comment.owner.moderator %}
              <span class="label label-default" title="Модератор"><span class="glyphicon glyphicon-sunglasses"></span></span>
            {% endif %}
            {% if comment.owner.goverment %}
              <span class="label label-success" title="Правление"><span class="glyphicon glyphicon-education"></span></span>
            {% endif %}
            {% if comment.owner.instructor %}
              <span class="label label-warning" title="Инструктор"><span class="glyphicon glyphicon-fire"></span></span>
            {% endif %}
        {% endif %}
      {% if comment.owner.user.is_superuser %}
        <span class="label label-danger" title="Администратор"><span class="glyphicon glyphicon-king"></span></span>
      {% endif %}

      {{ comment.date_creation|date:"d.E.Y, G:i:s" }} 
           
            

        {% if profile.moderator == True or profile.user.is_superuser %}
        <div class="btn-group show-on-hover">
          <button type="button" class="btn btn-link btn-md dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-edit"></span> <span class="caret"> </span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <form action="/disable_power_comments/" method="post" role="form">{% csrf_token %}
                <input type="hidden" name="id_comment" value="{{ comment.id }}" />
                <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span> Удалить комментарий</button>
              </form>
            </li>
            <li class="divider"></li>
            <li>
              <form action="/ban_user_power_comments/" method="post" role="form">{% csrf_token %}
                <input type="hidden" name="id_user" value="{{ comment.owner.id }}" />
                <button type="submit" class="btn btn-link">
                  </span> <span class="glyphicon glyphicon-eye-close"></span> Забанить пользователя</button>
              </form>
            </li>
            {% if profile.user.is_superuser %}
            <li class="divider"></li>
            <li><a class="responce_comment" href="#new_comment_link" id="comment-{{ comment.id }}" title="{{ comment.owner.get_full_name }}">
            <span class="glyphicon glyphicon-share"></span> Ответить</a></li> 
            <li><a href="{% power_url_edit comment %}"><span class="glyphicon glyphicon-edit"></span> Страница админки</a></li>
            {% endif %}
          </ul>
        </div>
        {% endif %}
        <p align="justify">{{ comment.text|safe }}</p>
      </div>
      <div class="visible-xs visible-sm">
        <span class="glyphicon glyphicon-star"></span> <strong class="comment_rating-{{ comment.id }}">{{ comment.rating }}</strong>
        <br>
        <div class="col-xs-3">
          {% if request.user.is_authenticated %} {% if not request.user == comment.owner.user %}
          <div class="col-xs-1">
            <form action="/ajax_karma_plus/" class="rating_form_plus" method="post" role="form" id="ajax_karma_plus">{% csrf_token %}
              <input type="hidden" name="id_comment" value="{{ comment.id }}" />
              <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></button>
            </form>
          </div>
          <div class="col-xs-1">
            <form action="/ajax_karma_minus/" class="rating_form_minus" method="post" role="form" id="ajax_karma_minus">{% csrf_token %}
              <input type="hidden" name="id_comment" value="{{ comment.id }}" />
              <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-minus"></span></button>
            </form>
          </div>
          {% endif %} {% endif %}
        </div>
      </div>
      <div class="visible-lg visible-md">
        <div class="col-xs-2">
          <span class="glyphicon glyphicon-star"></span> Рейтинг: <strong class="comment_rating-{{ comment.id }}">{{ comment.rating }}</strong>
          <br> {% if request.user.is_authenticated %} {% if not request.user == comment.owner.user %} {% if not profile in comment.karma_users.all %}
          <div class="col-xs-1">
            <form action="/ajax_karma_plus/" class="rating_form_plus" method="post" role="form" id="ajax_karma_plus">{% csrf_token %}
              <input type="hidden" name="id_comment" value="{{ comment.id }}" />
              <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></button>
            </form>
          </div>
          <div class="col-xs-4">
            <form action="/ajax_karma_minus/" class="rating_form_minus" method="post" role="form" id="ajax_karma_minus">{% csrf_token %}
              <input type="hidden" name="id_comment" value="{{ comment.id }}" />
              <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-minus"></span></button>
            </form>
          </div>
          {% endif %} {% endif %} {% endif %}
        </div>
      </div>
    </div>
  </div>
  <hr class="hr_sm"> {% endfor %}
</div>
</div>
<div class="col-md-12" id="new_comment_link">
  {% if request.user.is_authenticated %} {% if 0 >= profile.karma %}
  <label id="comment_text">У вас недостаточно кармы для отправки комментариев</label>
  {% else %}
  <form action="/new_power_comment/" class="new_power_comment" method="post" role="form">{% csrf_token %}
    <div id="new_comment_form" class="form-group">
      <label id="comment_text">Новый комментарий</label>
      <input type="hidden" name="id_app" value="{{ app_url }}" />
      <br>
      <input type="hidden" name="id_last_comment" id="id_last_comment" value="0" />
      <br>
      <label id="comment_alert_dander" class="control-label" for="inputError" style="display: none;">Input with error</label>
      {% if profile.moderator == True or user.is_superuser %}
      	<label>ТЕКСТ</label>
	      {{ form.media }}
	      {{ form.text }}
	    {% else %}
	    	<textarea id="id_text_comment" mixlength="10" rows="2" name="text" class="form-control" value="{{ app_url }}"></textarea>
      {% endif %}
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-sm btn-success">Отправить</button>
      {% if profile.moderator or profile.goverment or user.is_superuser %}
      <button class="btn btn-sm btn-default response_default">Сбросить ответ</button>
      {% endif %}
    </div>
  </form>
  {% endif %} {% else %}
  <p>Чтобы публиковать комментарии, <a href="/register/"> зарегистрируйтесь</a> или <a href="/login/">войдите.</a></p>
  {% endif %}
</div>
{% else %} Комментарии отключены администрацией. {% endif %}
