{% load comments_tags %}
<div id="comments">
  <br>
  <p style="font-size: 18px;" id="href_power_comments">Комментарии:</p>
  {% for comment in comments %}
  <div id="comment_{{ comment.id }}">
    <div class="col-md-1">
      <a href="#">
        <img src="{{ comment.owner.avatar.url }}" width="64x" height="64x" class="media-object object-fit_cover_radius">
      </a>
    </div>
    <div class="col-md-11">
      <h5 class="media-heading">
          <div class="col-md-9">
            <a href="{{ comment.owner.get_absolute_url }}" id="user_full_name">
              <strong>{{ comment.owner.get_full_name }}</strong>
            </a>
            {% if comment.owner.get_status_profile == True %}
              {% if comment.owner.writer %}
                <span class="glyphicon glyphicon-pencil" title="Писатель"></span>
              {% endif %}
              {% if comment.owner.valid_member %}
                <span class="glyphicon glyphicon-user" title="ДЧ"></span>
              {% endif %}
              {% if comment.owner.moderator %}
                <span class="glyphicon glyphicon-sunglasses" title="Модератор"></span>
              {% endif %}
              {% if comment.owner.goverment %}
                <span class="glyphicon glyphicon-education" title="Правление"></span>
              {% endif %}
              {% if comment.owner.instructor %}
                <span class="glyphicon glyphicon-fire" title="Инструктор"></span>
              {% endif %}
            {% endif %}
            {% if comment.owner.user.is_superuser %}
              <span class="glyphicon glyphicon-king" title="Администратор"></span>
            {% endif %}
            <small> {{ comment.date_creation|date:"d E Y" }}</small>
          </div>
          <div class="col-md-3" align="right">
          {% if request.user.is_authenticated %} 
            {% if not request.user == comment.owner.user %} 
              {% if not profile in comment.karma_users.all %}
                <a href="#"><span class="glyphicon glyphicon-thumbs-up"></span></a> : 
                <a href="#"><span class="glyphicon glyphicon-thumbs-down"></span></a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
              {% endif %} 
            {% endif %} 
          {% endif %}
          <span class="glyphicon glyphicon-star"></span> <strong class="comment_rating-{{ comment.id }}">{{ comment.rating }}</strong>
          </div>
        </h5>
      <div class="col-md-12">
        <hr class="hr_sm">
        <p align="justify">{{ comment.text|safe }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <br>
    <br>
  </div>
  {% endfor %}
</div>