.hr_sm {
     margin-top: 3px; 
     margin-bottom: 3px; 
    border: 0;
    border-top: 1px solid #eee;
}
.panel-default {
    border-color: #000;
}
.panel {
    border-radius: 0px;
}
.hr_sm2 {
     margin-top: -6px;
     margin-bottom: 6px;
    border: 0;
    border-top: 1px solid #eee;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 82%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.post-header-line {
    border-bottom:1px solid #DDD;
    padding:10px 0px 10px 25px;
    font-size: 13px;
}

.post-header-line-disable {
    font-size: 13px;
}