{% extends "base.html" %}
{% load page_navigation %}

{% block meta_title %}
    Добавление нового поста
{% endblock %}

{% block extra_css %}
    {% get_tokenize_template %}
{% endblock %}

{% block main %}
<div class="col-md-8 left">
<div class="panel panel-default">
<div class="panel-body">
    <div id="blogpost">
        <form action="/blog_new/" method="post" role="form">
            <div class="row">
                <div class="col-xs-8">
                    <input id="id_title" name="title" type="text" class="form-control" placeholder="Заголовок" value="{{ form.title.value }}"><br>
                </div>
                <div class="col-xs-4">
                        <select id="id_state" name="state" class="form-control">
                            <option value="0">Новость отключена</option>
                            <option value="1" selected="selected">Обычная Новость</option>
                            <option value="2">Важная Новость</option>
                        </select>
                </div>
            </div>
            {{ form.text.errors }}
            {{ form.media }}
            {{ form.text }}
        <div class="row">
            <div class="col-md-12">
            <label>
              <input checked="checked" id="id_if_comments" name="if_comments" type="checkbox"> Включить комментарии
            </label>
            {{ form.category.errors }}
            <p><label for="id_category">Теги:</label><br>
            <select id="id_category" multiple="multiple" name="category" class="tokenize-sample">
                {% for category in categorys %}
                <option value="{{ category.id }}">{{ category.category }}</option>
                {% endfor %}
            </select>
            </p>
            </div>
            <div class="col-md-12">
                <label>Доступные теги:</label>
                {% for category in categorys %}
                    {{ category.category }},
                {% endfor %}
            </div>
        </div>
            <hr style="margin-top: 1px; margin-bottom: 14px;">
            <button type="submit" class="btn btn-success">Сохранить изменения</button>
            <a href="/blog/{{ blog.id }}"><button class="btn btn-default"> Отмена</button></a>
        </form>

    </div>
</div>
</div>
</div>
{% page_navigation request %}
{% endblock %}
{% block extra_js %}
{% get_tokenize_template_js %}
    <script type="text/javascript">
        $('#id_category').tokenize();
    </script>
{% endblock %}
