{% extends "base.html" %}

{% block main %}

<h1 align="center"><strong>Ближайшие походы:</strong></h1>
<!-- Походы -->
{% for hike in hikes %}
<div>
	<hr>
	<div class="col-md-2">
		<img src="{{ STATIC_URL }}img/lyapun.jpg" width="80px">
	</div>

	<div class="col-md-6">
		{{ hike.user.first_name }} {{ hike.user.last_name }}<br>
		email - <a href="mailto:{{ hike.user.email }}">{{ hike.user.email }}</a><br>
		Телефон - 093-40-99-362<br>
		Сроки - {{ hike.date_start }} по {{ hike.data_finish }}<br>
	</div>
	<div class="col-md-4" align="center">
		<strong>Тип</strong> -  {{ hike.type_hike }}<br>
		<strong>Категория</strong> - {{ hike.difficulty }}<br>
		<strong>Район</strong> - {{ hike.region }}<br>
		<div align="center"><a href="/hikes/{{ hike.id }}"><button type="button" class="btn btn-info btn-sm">Подробнее/Обсудить</button></a></div>
	</div>
</div>
<p>.</p>
{% endfor %}

<h1 align="center"><strong>Правление Клуба</strong></h1>
<div class="col-md-12">
	<div class="col-md-3">
		<img src="http://cs608820.vk.me/v608820871/776f/sQDgQH-VTzo.jpg" class="img-circle" width="120px">
	</div>
	<div class="col-md-8">
	<br>
		Максим Сафтюк - Председатель<br>
		email - <a href="mailto:{{ hike.user.email }}">dlyapun@gmail.com</a><br>
		Телефон - 093-40-99-362<br>
	</div>
</div>
<p><small>.</small></p><hr>
<div class="col-md-12">
	<div class="col-md-3">
		<img src="https://plus.google.com/u/0/_/focus/photos/private/AIbEiAIAAABDCJusvKK5msKNbiILdmNhcmRfcGhvdG8qKDZhODdiMjBhODUyMjhjNjJhNzA0ZmJkMjZiNzM5NjU1ZmRlYzk0YWUwATTWBM4Ij4rf5Kee6QRsNI3Hlsk6?sz=96" class="img-circle" width="120px">
	</div>
	<div class="col-md-8">
	<br>
		Алена Гнатовская - Школа<br>
		email - <a href="mailto:{{ hike.user.email }}">dlyapun@gmail.com</a><br>
		Телефон - 093-40-99-362<br>
	</div>
</div>
<p><small>.</small></p><hr>
<div class="col-md-12">
	<div class="col-md-3">
		<img src="{{ STATIC_URL }}img/lyapun.jpg" class="img-circle" width="120px">
	</div>
	<div class="col-md-8">
	<br>
		<a href="http://vk.com/dlyapun">Дмитрий Ляпун</a> - Орг-сектор<br>
		email - <a href="mailto:{{ hike.user.email }}">dlyapun@gmail.com</a><br>
		Телефон - 093-40-99-362<br>
	</div>
</div>
{% endblock %}