{% extends "base.html" %}

{% block extra_banner %}
<h1>ПАТИ</h1>
{% endblock %}

{% block meta_title %}
    Мероприятие - {{ party.name }}
{% endblock %}

{% block main %}
{% load urltag %}
{% load comments_tags %}
{% load party_tags %}

<div class="col-md-8 left">

<img src="{{ party.image.url }}" class="object-fit_cover" height="200px" width="100%">
<div class="panel panel-default">
<div class="panel-body">
    {% if blogpost.state == 0 %}
        <span class="label label-danger">НОВОСТЬ СКРЫТА</span>
    {% endif %}
    <div class="col-md-2">
        {% if party.image %}
            <img src="{{ party.image.url }}" class="object-fit_cover_radius" height="100px" width="100px">
        {% else %}
            <img src="{{ party.default_image.image.url }}" class="object-fit_cover_radius" height="100px" width="100px">
        {% endif %}
    </div>
    <div class="col-md-8" align="center">
        <p style="font-size:20px;" id="title">
            <strong>{{ party.title }}</strong><br>
        </p>
        <p style="font-size:17px;">
            <small>{% party_date_tag party %}</small>
        </p>
    </div>
    <div class="col-md-2"></div>
<br><br><br><br><br><br>
    <div class="body">
        {{ party.text|safe }}
    <hr>
        {% for file in party.files.all %}
            <div class="well well-sm">
                <a href="{{ file.one_file }}"><img src="http://avelino.ru/assets/templates/main/img/doc.png" width="25px">{{ file.file_name }}</a><br>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-12 post-header-line">
                <span class="glyphicon glyphicon-calendar"></span> Опубликовано: {{ party.date_creation|date:"d.m.Y, G:i" }}
                | <span class="glyphicon glyphicon-comment"></span>
                Комментарии ({% count_power_comments party.get_absolute_url %})
                | <span class="glyphicon glyphicon-tags"></span> Теги :
                {% for category in party.category.all %}
                    <a href="/party/category/{{ category.id }}"><span class="label label-default">{{ category.category }}</span></a>
                {% endfor %}
            </div>
            <!-- MODERATOR PANEL -->
            {% if profile.moderator == True or user.is_superuser %}
                <div class="col-md-12 post-header-line">
{#                    <a href="/party_edit/{{ party.id }}"><span class="label label-primary">Редактировать</span></a>#}
{#                    {% if blogpost.state == 0 %}#}
{#                        <a href="/party_hidden/show/{{ party.id }}"><span class="label label-success">Показать</span></a>#}
{#                    {% else %}#}
{#                        <a href="/party_hidden/hide/{{ party.id }}"><span class="label label-danger">Скрыть</span></a>#}
{#                    {% endif %}#}

                    {% if user.is_superuser %}
                        <a href="{% url_edit party %}"><span class="label label-default">Страница админки</span></a>
                    {% endif %}
                </div>
            {% endif %}
            <!-- MODERATOR PANEL -->
        </div>

        {% power_comments request party.get_absolute_url party.if_comments %}

    </div>
</div>
</div>
</div>

{% load page_navigation %}
{% page_navigation request %}


{% endblock %}
