{% extends "base.html" %}

{% block meta_title %}
    Мероприятия
{% endblock %}

{% block main %}
{% load imagekit %}
{% load party_tags %}

<div class="col-md-8 left">
<div class="panel panel-default">
    <div class="panel-body">
        <p style="font-size:26px; color: #000" align="center"><strong>Мероприятия Клуба</strong></p>
{#        <p style="font-size:18px;"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Осенний сезон</p>#}
        <hr>
        {% for party in partys %}
        {% if party.state == 0 %}
            {% if profile.moderator == True or user.is_superuser %}
                <div class="col-sm-12 col-md-6">
                    <div class="thumbnail" style="background-color: #999999">
                        <div style="background-image:url({{ party.image.url }}); background-size: cover;  padding-top:20px; height:180px; width:100%">
                        </div>
                        <div class="caption">
                            <div align="center">
                                <p style="font-size: 18px;"><strong><span class="label label-danger">DISABLE</span> {{ party.title }}</strong></p>
                                {% party_date_tag party %}
                            </div><br>
                            <div align="center">
                                <a href="/party/{{ party.id }}"><button type="button" class="btn btn-info btn-sm">Подробнее/Обсудить</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% else %}
        <div class="col-sm-12 col-md-6">
            <div class="thumbnail">
                <div style="background-image:url({{ party.image.url }}); background-size: cover;  padding-top:20px; height:180px; width:100%">
                </div>
                <div class="caption">
                    <div align="center">
                        <p style="font-size: 18px;"><strong>{{ party.title }}</strong></p>
                        {% party_date_tag party %}
                    </div><br>
                    <div align="center">
                        <a href="/party/{{ party.id }}"><button type="button" class="btn btn-success btn-sm">Подробнее/Обсудить</button></a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
</div>

{% load page_navigation %}
{% page_navigation request %}

{% endblock %}

<span class="glyphicon glyphicon-time" aria-hidden="true"></span> Начало - {{ party.date_start|date:"d.m.Y, G:i" }}<br>
<span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Конец - {{ party.date_start|date:"d.m.Y, G:i" }}