{% extends "base.html" %}

{% block extra_banner %}
{% if party.image %}
    <div id="events-banner" class="fill hidden-print" style="background-image: url({{ party.image.url }})">
        <div class="header-cone"></div>
        <div class="header-cone right"></div>
    </div>
{% else %}
    <div id="events-banner" class="fill hidden-print" style="background-image: url({{ party.image.url }})">
        <div class="header-cone"></div>
        <div class="header-cone right"></div>
    </div>
{% endif %}
<br>
{% endblock %}

{% block meta_title %}
    Мероприятие - {{ party.name }}
{% endblock %}

{% block main %}
{% load urltag %}
{% load comments_tags %}
{% load party_tags %}

<div class="col-md-8 left">

    {% if blogpost.state == 0 %}
        <span class="label label-danger">НОВОСТЬ СКРЫТА</span>
    {% endif %}
    <div class="col-md-2"></div>
    <div class="col-md-8" align="center">
        <p style="font-size:20px;" id="title">
            <strong>{{ party.title }}</strong><br>
        </p>
        <p style="font-size:17px;">
            <small>{% party_date_tag party %}</small>
        </p>
    </div>
    <div class="col-md-2"></div>
<br><br><br><br><br><br>
    <div class="body">
        {{ party.text|safe }}
    <hr>
        {% for file in party.files.all %}
            <div class="well well-sm">
                <a href="{{ file.one_file }}"><img src="http://avelino.ru/assets/templates/main/img/doc.png" width="25px">{{ file.file_name }}</a><br>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-12 post-header-line">
                <span class="glyphicon glyphicon-calendar"></span> Опубликовано: {{ party.date_creation|date:"d.m.Y, G:i" }}
                | <span class="glyphicon glyphicon-comment"></span>
                Комментарии ({% count_power_comments party.get_absolute_url %})
                | <span class="glyphicon glyphicon-tags"></span> Теги :
                {% for category in party.category.all %}
                    <a href="/party/category/{{ category.id }}"><span class="label label-default">{{ category.category }}</span></a>
                {% endfor %}
            </div>
            <!-- MODERATOR PANEL -->
            {% if profile.moderator == True or user.is_superuser %}
                <div class="col-md-12 post-header-line">
                    {% if user.is_superuser %}
                        <a href="{% url_edit party %}"><span class="label label-default">Страница админки</span></a>
                    {% endif %}
                </div>
            {% endif %}
            <!-- MODERATOR PANEL -->
        </div>

        {% power_comments request party.get_absolute_url party.if_comments %}

    </div>
</div>

{% load page_navigation %}
{% page_navigation request %}


{% endblock %}
